.navbar{
   display: flex;
   justify-content: space-between;
   align.items: center;
   background-color: #333;
   color: white;
   padding: 10px 20px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.menu-left, .menu-right, .logo{
   display: flex;
   align-items: center; 
}
#chuy:hover {
   box-shadow: 0 0 2px 1px blue;
   transform: scale(2);
}